<!-- Page d'accueil avec carte et carousel d'exemple d'exercice -->
  <p class="presentation"> Bonjour et bienvenue sur Dys-Class,<br>
    ce site a étè crée pour des enfants avec des troubles <strong>Dys</strong>,<br>
    et pour que les enseignants ou parent peuvent proposer des exercice à tout les niveaux aux enfants.</p>

  <section class="body">
   <!--carrousel-->
    <article class="carousel">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Images/exercicetexteatrou.png" class="d-block w-100" alt="exemple1">
            <div class="carousel-caption d-none d-md-block">
              <h5> Exercice texte à trou</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/exercicetexteatrou.png" class="d-block w-100" alt="exemple2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Example 2</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/exercicetexteatrou.png" class="d-block w-100" alt="exemple3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Example 3</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon"  aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </article>

   <!-- creation de carte pour les different liens -->
      <article class="tableau">
        <p class="lienuti">Liens utilie</p>
        <p class="info">Pour plus de d'information sur les differents types dys et ou se renseigner dans votre region :</p>
          <ul class="liens">
            <li><a class="vert" href="https://www.ffdys.com">ffdys.com</a></li>
            <li><a class="rouge" href="https://www.dys-positif.fr"> dys-positif.fr </a></li>
            <li><a class="rouge" href="https://aad-france.dysphasie.org/">aad-france.dysphasie</a></li>
            <li><a class="vert" href="https://www.inserm.fr/dossier/troubles-specifiques-apprentissages/">
                inserm.fr</a></li>
            </ul>
      </article>
  </section>