<footer class="fixed-bottom">
        <!-- lien pour le légale, cgu et les protection des données -->
        <ul class="légale">
            <li class="nav-item me-4 list-unstyled">
                <a class="nav-link" href="#">Mentions légales</a>
            </li>
            <li class="nav-item me-4 list-unstyled">
                <a class="nav-link" href="#">CGU</a>
            </li>
            <li class="nav-item list-unstyled ">
                <a class="nav-link" href="#">Protection des données</a>
            </li>
        </ul>
        <ul>
            <!-- deuxieme bouton pour la navigation -->
            <li class="nav-item list-unstyled">
                <a id="fcontact" routerLink="contact" routerLinkActive="active" class="nav-link" aria-current="page">
                    <fa-icon class="me-1" [icon]="faEnvelope"></fa-icon>Contact
                </a>
            </li>
        </ul>
        <!-- Copyright -->
        <p class="me-2">Made by ced; © 2022 Copyright <br>
            ce site est un project pour la certification professionnel de DWWM</p>
</footer>