@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* creation de la carte */
  .card {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40vw;
    background-color: #f8f8f8;
    color: #2b353e;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 6vh;
    font-size: 1.2rem;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px #2b353e;
    background-color: #77dd77;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    height: 6vh;
    border-top: 2px #2b353e;
    background-color: #ff949f;
    border-radius: 0 0 15px 15px;
  }
  /* positionnement et designe du form connection */

  .connexionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .user {
    margin-bottom: 25px;
  }
  #useri {
    width: 25vw;
  }
  #usericon {
    padding-top: 10px;
  }
  .mdp {
    margin-bottom: 25px;
  }

  #mdpi {
    width: 25vw;
  }

  #lock {
    padding-top: 15px;
  }

  #probleme {
    margin-right: 10px;
    color: blue;
    font-size: 0.55rem;
    text-align: right;
    margin-bottom: 25px;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  #btnc {
    display: inline-block;
    margin-right: 10px;
    background-color: #77dd77;
    color: #2b353e;
    border: #77dd77 1px solid;
  }

  #btnc:hover {
    margin-right: 10px;
    background-color: #ff949f;
    color: #f8f8f8;
    border: #ff949f;
  }

  #btng {
    display: inline-block;
    margin-left: 10px;
    background-color: #dd4b39;
    border: #dd4b39 1px solid;
  }

  #btng:hover {
    color: #2b353e;
  }

  fa-icon {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    border-radius: 15px;
    margin-top: 75px;
    width: 60vw;
    height: auto;
    background-color: #f8f8f8;
    color: #2b353e;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 6vh;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px #2b353e;
    background-color: #77dd77;
  }

  p{
    font-size: 1.2rem;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    height: 6vh;
    border-top: 2px #2b353e;
    background-color: #ff949f;
    border-radius: 0 0 15px 15px;
  }

  .connexionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .user {
    margin-bottom: 25px;
  }
  #useri {
    width: 50vw;
  }
  #usericon {
    padding-top: 10px;
  }
  .mdp {
    margin-bottom: 25px;
  }

  #mdpi {
    width: 50vw;
  }

  #lock {
    padding-top: 15px;
  }

  #probleme {
    margin-right: 10px;
    color: blue;
    font-size: 0.55rem;
    text-align: right;
    margin-bottom: 25px;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  #btnc {
    margin-right: 10px;
    background-color: #77dd77;
    color: #2b353e;
    border: #77dd77 1px solid;
  }

  #btnc:hover {
    display: inline-block;
    margin-right: 10px;
    background-color: #ff949f;
    color: #f8f8f8;
    border: #ff949f;
  }

  #btng {
    display: inline-block;
    margin-left: 10px;
    background-color: #dd4b39;
    border: #dd4b39 1px solid;
  }
  #btng:hover {
    color: #2b353e;
  }

  fa-icon {
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    border-radius: 15px;
    margin-top: 50px;
    width: 75vw;
    height: auto;
    background-color: #f8f8f8;
    color: #2b353e;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 6vh;
    font-size: 1.2rem;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px #2b353e;
    background-color: #77dd77;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    height: 6vh;
    border-top: 2px #2b353e;
    background-color: #ff949f;
    border-radius: 0 0 15px 15px;
  }

  .connexionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .user {
    margin-bottom: 25px;
  }
  #useri {
    width: 45vw;
  }
  #usericon {
    padding-top: 10px;
  }
  .mdp {
    margin-bottom: 25px;
  }
  #mdpi {
    height: 5vh;
    width: 45vw;
  }

  #lock {
    padding-top: 15px;
  }

  #probleme {
    margin-right: 10px;
    color: blue;
    font-size: 0.55rem;
    text-align: right;
    margin-bottom: 10px;
  }

  hr {
    color: #2b353e;
    height: 2vh;
  }

  .btns {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  #btnc {
    display: inline-block;
    width: 45vw;
    background-color: #77dd77;
    color: #2b353e;
    border: #77dd77 1px solid;
    margin-bottom: 20px;
  }

  #btnc:hover {
    background-color: #ff949f;
    color: #f8f8f8;
    border: #ff949f;
  }

  #btng {
    display: inline-block;
    width: 45vw;
    background-color: #dd4b39;
    border: #dd4b39 1px solid;
  }

  #btng:hover {
    color: #2b353e;
  }

  fa-icon {
    margin-left: 5px;
  }
}
