<main>
    <section class="sidebar">
        <article>
            <ul class="link">
                <li><a>
                        <fa-icon [icon]="faChalkboardUser"></fa-icon> Plan de travail
                    </a></li>
                <li><a>
                        <fa-icon [icon]="faUserGear"></fa-icon> Gestion de classe
                    </a></li>
                <li><a>
                        <fa-icon [icon]="faGears"></fa-icon> Paramètre du compte
                    </a></li>
                <li><a> <fa-icon [icon]="faChartSimple"></fa-icon>Ressultat de la classe</a></li>
            </ul>
        </article>
    </section>
</main>