/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");


@media  screen and (min-width:768px) {
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Andika", sans-serif;
  background-image: url(assets/Images/papierv1.png);
}
}

@media screen and (min-width:480px) and (max-width:768px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-image: url(assets/Images/papierv1.png);
    font-family: Andika, sans-serif;
  }
}

@media screen and (max-width:480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Andika, sans-serif;
    background-color: #f8f8ff;
  }
}